

.form-validation {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #fefefe;
}

.validation-img {
  position: absolute;
  width: 621.61px;
  height: 558px;
  left: 408px;
  top: 276px;

  opacity: 0.1;
}

.mail-img {
  position: absolute;
  width: 470.1px;
  height: 422px;
  left: 772px;
  top: 317px;
}

.validation-meassge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 26px;

  position: absolute;
  width: 641px;
  height: 270px;
  left: 129px;
  top: 310px;
}
.val-message {
  width: 641px;
  height: 124px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 17px;

  color: #170127;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.val-message2 {
  width: 587px;
  height: 120px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  /* font color for black7 */

  color: #212020;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
